#mapId {
  height:1000px;
  width: 1000px;

}

#mapID:active{
  border:none;
}
.mapboxgl-popup-content{
  background-color: lightblue;

  width:100px;
}
.popup{
  background-color: blue;
  height:50px;
  width:50px;
}
